html, body {
  margin: 0;
  padding: 0;
  font: unset;
  background-color: #f0f0f0;
}

body {
  font-size: 1.6em;
  padding: 1rem;
  margin: 2rem auto;
  max-width: 800px;
  letter-spacing: 0.1rem;
}
